<footer class="footer">
  <div class="subscribe-card">
    <div class="subscribe-info">
      <span class="subscribe-text">актуально</span>
      <p class="subscribe-description">Получайте полезные рассылки о путешествиях</p>
    </div>
    <div class="subscribe-form">
      <span class="subscribe-text__email">Введите e-mail адрес</span>
      <div class="subscribe-form__row">
        <input type="text">
        <button class="subscribe-btn">Подписаться на новости</button>
      </div>
      <p class="subscribe-form__description">подписываясь на новости, вы автоматически соглашаетесь с условиями
        обработки персональных данных и правилами
        рекламных рассылок</p>
    </div>
  </div>

  <div class="footer-content">
    <div class="footer-box">
      <h2 class="footer-title">Компания «РумТибет»</h2>
      <p class="footer-description">Его корни уходят в один фрагмент классической латыни 45 года <br> н.э., то есть
        более двух тысячелетий назад.
        Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney.
      </p>

      <div class="about-us">
        <span class="">info@domain.com </span>
        <span>+7 (123) 456-78-90</span>
      </div>
      <div class="footer-icons">
        <img class="footer-icon" src="/images/telegram-icon.svg" alt="">
        <img src="/images/vk-icon.svg" alt="">
        <img src="/images/pinteres-icon.svg" alt="">
        <img src="/images/skype-icon.svg" alt="">
      </div>
    </div>

    <div class="footer-box">
      <h2 class="footer-title">Наши услуги</h2>

      <ul class="footer-list-wrapper">
        <li><img src="/images/frame.svg">Прогулки в горы летом</li>
        <li><img src="/images/frame.svg">Зимние походы в горы</li>
        <li><img src="/images/frame.svg">Посещение храмов в горах</li>
        <li><img src="/images/frame.svg">Экстремальные виды туризма</li>
        <li><img src="/images/frame.svg">Походы в джунглях Амазонии</li>
        <li><img src="/images/frame.svg">Поездка в Африку</li>
      </ul>

    </div>
    <div class="footer-box">
      <h2 class="footer-title">Важно для путешествий</h2>
      <ul class="footer-list-wrapper">
        <li><img src="/images/frame.svg">Как собрать в долгий поход?</li>
        <li><img src="/images/frame.svg">Жизненно важные предметы для похода</li>
        <li><img src="/images/frame.svg">Медицинская страховка, гарантии безопасности</li>
        <li><img src="/images/frame.svg">Если вы врач - загляните сюда?</li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="footer-bottom__container">
      <p class="copyright">ИП Константинопольский К.К., 2023</p>
      <a href="#" class="policy">Политика обработки персональных данных</a>
    </div>
  </div>
</footer>