<header class="header">
    <div class="container">
			<div class="logo-sayt">
      	<img class="logo-image" src="/images/Vector.svg" alt="Логотип">
        <span class="name-logo">{{ nameCompany }}</span>
			</div>
			<div class="list-item">
				<ul>
					<li>Главная</li>
					<li>Про гида</li>
					<li>Программа тура</li>
					<li>Стоимость</li>
					<li>Блог</li>
					<li>Контакты</li>
				</ul>
				</div>
			<div class="button">
      	<button class="button">Консультация</button>
			</div>
		</div>
</header>

<section class="hero-section">
	<div class="container-wrapper">
	<h1 class="hero-title">Насладись прогулкой в горах <br> с командой единомышленников</h1>

	<form class="form-container" action="">
			<div class="col">
				<select class="serchers" type="search">
					<option selected disabled>Локация для тура</option>
				</select>
				<p class="white-color">выберите из списка</p>
			</div>		
			<div class="col">
				<input placeholder="Дата похода" class="serchers" type="date"> 
				<p class="white-color">укажите дату</p>
			</div>
			<div class="col">
				<select placeholder="Участники" class="serchers" type="search">
					<option selected disabled>Участники</option>
				</select>
				<p class="white-color">выберите из списка</p>
			</div>	
			<button class="form-btn" type="submit">Найти программу</button>
	</form>
	</div>
</section>