<div class="loader-wrapper" *ngIf="isLoading">
  <img src="/images/loader.svg" class="loader-icon" alt="Загрузка...">
</div>

<header class="header">
  <div class="container-wrapper">
    <div class="logo-sayt">
      <img class="logo-image" src="/images/Vector.svg" alt="Логотип">
      <span class="name-logo">{{ nameCompany }}</span>
    </div>
    <div class="list-item">
      <ul>
        <li>Главная</li>
        <li>Про гида</li>
        <li>Программа тура</li>
        <li>Стоимость</li>
        <li>Блог</li>
        <li>Контакты</li>
      </ul>
    </div>
    <div class="column-button">
      <button class="button">Консультация</button>
      <button (click)="showTime = !showTime" class="button">{{ showTime === true ? 'Переключить на время':
        'Переключитьна счетчик' }}</button>

      <span *ngIf="showTime" class="replacement">{{ time }}</span>

      <div *ngIf="!showTime" class="counter">
        <button (click)="counter = counter - 1" class="decrease" [disabled]="counter === 0">-</button>
        <span>{{ counter }}</span>
        <button (click)="counter = counter + 1" class="adding">+</button>
      </div>
    </div>
  </div>
</header>

<section class="hero-section">
  <div class="container-wrapper">
    <h1 class="hero-title">Насладись прогулкой в горах <br> с командой единомышленников</h1>

    <form class="form-container" action="">
      <div class="col">
        <select class="serchers" type="search" name="location" [(ngModel)]="location">
          <option selected disabled value="">Локация для тура</option>
          <option value="mountains">Горы</option>
          <option value="mountains">Океан</option>
        </select>
        <p class="white-color">выберите из списка</p>
      </div>
      <div class="col">
        <input placeholder="Дата похода" class="serchers" type="date" name="data" [(ngModel)]="data">
        <p class="white-color">укажите дату</p>
      </div>
      <div class="col">
        <select placeholder="Участники" class="serchers" type="search" name="name" [(ngModel)]="name">
          <option selected disabled value="">Участники</option>
          <option value="mountains">Mumin</option>
          <option value="mountains">Abdurahman</option>
        </select>
        <p class="white-color">выберите из списка</p>
      </div>
      <button class="form-btn" type="submit" [disabled]="location === '' || data === '' || name === '' ">Найти
        программу</button>
    </form>
    <div class="live-wrapper">
      <input class="live-sercher" type="search" name="" id="" [(ngModel)]="textValue">
      <span class="live-text">{{ textValue }}</span>
    </div>
  </div>
</section>

<section class="about-tour">
  <div class="container">

    <div class="about-images">
      <img class="about-image _back" src="/images/peaks.jpg" alt="">
      <img class="about-image _front" src="/images/forest.jpg" alt="">
    </div>
    <div class="about-info">
      <span class="about-trip pretitle">о нашем походе</span>
      <h2 class="about-title">Исследуйте все горные массивы мира вместе с нами</h2>
      <p class="about-description">Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух
        тысячелетий назад.
        Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых странных слов
        в Lorem Ipsum,
        "consectetur"и занялся его поисками в классической латинской литературе.</p>
      <button class="about-btn" (click)="addSuccessMessage()">Программа тура</button>
    </div>
  </div>
</section>

<section class="programs">
  <div class="container">
    <div class="col-1">
      <span class="offer pretitle">наше предложение</span>
      <h2 class="programs-title">Лучшие программы для тебя</h2>
      <p class="programs-description">Его корни уходят в один фрагмент классической латыни 45 года н.э.,
        то есть более двух тысячелетий назад. Ричард МакКлинток,
        профессор латыни из колледжа.</p>

      @for (item of advantages; track item.title) {
      <div class="programs-advantages">
        <div class="advantages-content">
          <img [src]="item.icon" [alt]="item.alt" width="36px" height="36px">
          <div class="description__col">
            <h3 class="programs-subtitle">{{ item.title }}</h3>
            <p class="programs-advantages__description">{{ item.description }}</p>
          </div>
        </div>
      </div>
      }
      <button class="programs-btn">Стоимость программ</button>
    </div>
    <div class="col-2">
      <img src="/images/canyon.jpg" alt="">
      <img src="/images/snowmobile.jpg" alt="">
      <img src="/images/hiker.jpg" alt="">
      <img src="/images/river.jpg" alt="">
    </div>
  </div>
</section>

<section class="popular">

  <div class="popular-container">
    <div class="popular-title__wrapper">
      <span class="popular-pretitle pretitle">по версии отдыхающих</span>
      <h2 class="popular-title">Популярные направления</h2>
    </div>
    <div class="popular-cards">

      @for(popularCard of popularCards; track popularCard.id) {
      <div class="popular-card">
        <img class="popular-card-img" [src]="popularCard.img" alt="">
        <div class="popular-footer">
          <div class="popular-card-text__wrapper">
            <h3 class="popular-card__tile">{{ popularCard.title }}</h3>
            <span class="popular-card__description">{{ popularCard.desc }}</span>
          </div>
          <div class="popular-card__price">
            <span>{{ popularCard.price }} &#36;</span>
          </div>
        </div>
        <div class="rating-wrapper">
          <img class="rating-img" src="/images/star-icon.svg" alt="">
          <span class="rating">{{ popularCard.rating }}</span>
        </div>
      </div>
      }

    </div>

    <button class="popular-btn">Рейтинг направлений</button>
  </div>
</section>

<section class="blog">
  <div class="blog-container">
    <div class="blog-title-wrapper">
      <span class="blog-pretitle pretitle">делимся впечатлениями</span>
      <h3 class="blog-title title">Блог о путешествиях</h3>
    </div>
    <div class="blog-cards">

      @for (blogCard of blogCards; track blogCard.id) {
      <div class="blog-card">
        <div class="blog-img__wrapper"><img class="blog-card__img" [src]="blogCard.img" alt=""></div>
        <div class="blog-card__content">
          <h3 class="blog-card__title">{{ blogCard.title }}</h3>
          <p class="blog-card__description">{{ blogCard.desc }}</p>
          <div class="blog-card__info">
            <span class="blog-card__date">01/04/2023</span>
            <span class="blog-card__link"><a class="blog-link" href="">читать статью</a></span>
          </div>
        </div>
      </div>
      }
    </div>
    <button class="blog-card__btn">Другие материалы</button>
  </div>
</section>
@if(messageService.messagesArray.length > 0) {
  <div class="message-wrapper">

  @for (m of messageService.messagesArray; track m.id) {
    <ng-container [ngTemplateOutlet]="message" [ngTemplateOutletContext]="{ $implicit: m }"></ng-container>
  }

  </div>
}


  <ng-template  #message let-message>
    <div class="message">
      <div class="message-image-wrapper"><img class="message-img" src="/images/message.svg" alt=""></div>
      <div class="message-text__wrapper">
        <h3 class="message-title">{{ message.type }}</h3>
        <span class="message-description"> Message Content</span>
      </div>
      <div class="message-close-icon__wrapper">
        <button class="message-close__btn" (click)="messageService.closeMessage(message.id)"><img class="message-close-icon" src="/images/x.svg" alt="icon-krest"></button>
      </div>
    </div>
  </ng-template>
